AddressVerification/Service References/Cdyne/PavService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://pav3.cdyne.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PavService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="pavws_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://pav3.cdyne.com" location="http://pav3.cdyne.com/PavService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="pavsoap" type="i0:IPavService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCongressionalDistrictByZip">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetCongressionalDistrictByZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityNamesForZipCode">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetCityNamesForZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesForCityAndState">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesForCityAndState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrbanizationListForZipCode">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetUrbanizationListForZipCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddressAdvanced">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/VerifyAddressAdvanced" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddress">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/VerifyAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntelligentMailBarcode">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetIntelligentMailBarcode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesWithinDistance">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesWithinDistance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesForFips">
      <soap:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesForFips" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="pavws" type="i0:IPavService">
    <wsp:PolicyReference URI="#pavws_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCongressionalDistrictByZip">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetCongressionalDistrictByZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCityNamesForZipCode">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetCityNamesForZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesForCityAndState">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesForCityAndState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUrbanizationListForZipCode">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetUrbanizationListForZipCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddressAdvanced">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/VerifyAddressAdvanced" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAddress">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/VerifyAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIntelligentMailBarcode">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetIntelligentMailBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesWithinDistance">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesWithinDistance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetZipCodesForFips">
      <soap12:operation soapAction="http://pav3.cdyne.com/IPavService/GetZipCodesForFips" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PavService">
    <wsdl:port name="pavsoap" binding="tns:pavsoap">
      <soap:address location="http://pav3.cdyne.com/PavService.svc/Soap" />
    </wsdl:port>
    <wsdl:port name="pavws" binding="tns:pavws">
      <soap12:address location="http://pav3.cdyne.com/PavService.svc/Ws" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://pav3.cdyne.com/PavService.svc/Ws</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>